/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Синий цвет #2196F3 */
/* Белый цвет #FFFFFF */
/* Цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --primary-section-text-color: #ffffff;
  --primary-section-background-color: #2f303a;
  --footer-section-background-color: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --communication-footer-color: rgb(255, 255, 255, 0.6);
  --color-text-btn: #ffffff;
  --btn-hover-color: #188ce8;
}

/* Сброс стилей для h1-h6, p */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Убираем маркеры из списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
body {
  /* Подгружаем шрифты */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  /* Основной цвет текста #757575 */
  color: var(--primary-text-color);

  /* Основной цвет фона #ffffff */
  background-color: var(---primary-background-color);
}

/* ==========Прячем ненужные заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ===Класс КОНТЕЙНЕР */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header,
.page-header nav,
.site-nav,
.communication-header {
  display: flex;
  align-items: center;
}
.page-header {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

/* Задаем стиль для h2 */
.container h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ===Класс Секция */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* =======================ШАПКА САЙТА========================= */
/* Шапка сайта */
.page-header {
  background-color: var(--header-background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Логотип в шапке */

.logo-header {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color); /* Черный цвет логотипа #000000 */
  text-decoration: none;
  margin-right: 93px;
}
.site-nav .link {
  display: inline-block;
  margin-right: 50px;
}
.communication-header .link {
  display: inline-block;
  margin-left: 50px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.logo-header > span {
  color: var(--accent-color);
}

/* Навигация */

.site-nav .link {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}
/* Активная страница */
.site-nav .link .current {
  color: var(--accent-color);
}
/* Коммуникация (шапка) */

.communication-header .link {
  text-decoration: none;
  color: currentColor;
}
.communication-header .link:hover,
.communication-header .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}
/* ================================================ */
/* ================ОСНОВНАЯ СТРАНИЦА================================ */
/* Основная секця */
.hero {
  background-color: var(--primary-section-background-color);
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-section-text-color);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Свойство Кнопки (button)смотри в разделе "Кнопкм" */

/* Общее для секций (шрифты h2 h3) */
.section-title {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
}
.section-list {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
}
/* Секция  Особенности */

.container .feature-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.container .feature-list-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.feature p {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 10px;
  font-family: Roboto;
}
.feature h3 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Секция  Чем мы занимаемся */
.container .business-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 62px;
  padding-bottom: 50px;
}
.container .business-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Секция  Наша команда */
.command {
  background-color: var(--second-background-color);
}
.container .command-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.command-wapper {
  display: block;
  padding-top: 30px;
  border-bottom: 2px solid #a5a5a9;
  border-radius: 5px;
  background-color: var(--primary-background-color);
}
.container .command-list-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.command h2 {
  margin-bottom: 50px;
}
.command h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.command p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 30px;
}
/* ================================================ */
/* ===================ПОРТФОЛИО============================= */
/* Страница Портфолио */
.portfoleo {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Секция  Фильтр проектов */
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.portfoleo-filters-list {
  display: flex;
  justify-content: center;
}

.portfoleo-filters-list-item {
  margin-left: 8px;
}
/* Секция  Список проектов */

.container .portfoleo-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
}
.container .portfoleo-project-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfoleo-project-wapper {
  display: block;
  /* flex-direction: column; */
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfoleo-project-wapper h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.portfoleo-project p {
  font-size: 16px;
  line-height: 1.87;
  margin: 10px auto;
}

/* ================================================ */

/* ====================КНОПКИ САЙТА============================ */
/* Кнопки */
.button {
  font-family: inherit;
  cursor: pointer;
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text-btn);
  background-color: var(--accent-color);
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--color-text-btn);
  background-color: var(--btn-hover-color);
}

.portfoleo-filters-list-item .portfoleo-button {
  border: none;
  color: var(title-text-color);
  background-color: var(second-background-colorolor);
  border-radius: 4px;
  padding: 6px 22px;
}
.portfoleo-filters-list-item .portfoleo-button:hover,
.portfoleo-filters-list-item .portfoleo-button:focus {
  color: var(--primary-section-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/* ================================================ */
/* ===================ПОДВАЛ САЙТА============================= */

/* Подвал сайта */
footer {
  color: var(--logo-footer-color);
  background-color: var(--footer-section-background-color);
}
footer .container {
  display: block;
  padding: 60px 0;
}
footer p {
  padding-bottom: 10px;
}
/* Логотип в подвале */
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-footer-color);
  -bottom: 20px;
}
.logo-footer > span {
  color: var(--accent-color);
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  padding-top: 20px;
}
/* Коммуникация (подвал) */
.communication-footer .link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--communication-footer-color);
  text-decoration: none;
}
.communication-footer .link:hover,
.communication-footer .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}
/* ================================================ */
